/* convenience rules */
.hidden {
  display: none;
}

.shorter-width {
  width: 70%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.error-styles {
  border: 1px solid darkred;
  color: darkred;
}

.make-text-red {
  color: darkred;
}

.style-contact {
  padding: 3rem;
  width: 17.3rem;
}

/* header */
.jumbotron {
  background: #6F5499;
  min-width: 100%;
  color: white;
  border-radius: 0;
}

.jumbotron p {
  opacity: .7;
  font-size: 1.2rem;
  font-weight: 100;
}

/* main - add contact */
main.container .row {
  background: #F5F5F5;
  margin-top: -2rem;
  height: 7.4rem;
  border: 1px solid lightgrey;
  border-radius: 5px;

}

.button-style, .search {
  padding-top: 2rem;
}

.button-style button, .button-style input {
  height: 3rem;
  width: 9rem;
  font-size: 1.2rem;
}

.edit-contact-buttons {
  display: flex;
  justify-content: space-between;
}

#smaller-buttons, .button-style button, .button-style input {
  color: #6F5499;
  background: white;
  border: 1px solid #6F5499;
  border-radius: 0.4rem;
}


.search input {
  border: 1px solid lightgrey;
  color: lightgrey;
  height: 2rem;
  border-radius: 0.2rem;
}

/* main bottom placeholder */
div.row.no-contacts {
  height: 10rem;
  margin-top: 3rem;
  /* width: 80%; */
  /* padding: 2rem; */
}

div.row.no-contacts button {
  margin-bottom: 1rem;
}

.line {
  height: 3rem;
  border-bottom: 1px solid #F5F5F5;
}

div.row.no-contacts h4 {
  margin-top: 1rem;
}

/* form */
form input, form button {
  width: 100%;
}

/* contacts section  */
#contacts-section {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

#smaller-buttons {
  height: 2rem;
  width: 5rem;
  font-size: .8rem;
}

/* footer */
.footer {
  margin-top: 4rem;
}
